;;; custom-packages/private.el -*- lexical-binding: t; -*-

(defvar openai-key "a-big-openai-key")
(defvar anthropic-key "a-big-anthropic-key")
(defvar gemini-key "a-big-gemini-key")
(defvar ollama-api-base "my-ollama-api")
(defvar openrouter-api-key "my-openrouter-key")

(provide 'private)
