;;; custom-packages/private.el -*- lexical-binding: t; -*-

(defvar openrouter-api-key "my-openrouter-key")
(defvar openai-api-base "my-openai-api-base")
(defvar openai-api-key "my-openai-api-key")

(provide 'private)
